<style>
    *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}

.home-container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100vh;
}
.home-container h1{
    color: rgb(25, 25, 100);
}

header{
    position: fixed;
    background-color: black;
    height: 50px;
    width: 100vw;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 20px;
}


nav ul li a{
    color: white;
    text-decoration: none;
}

.fail{
    color:red;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input{
    margin: 5px;
    width: 200px;
}

.login-form input.button{
    margin-top: 15px;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: rgb(25, 25, 100);
    color:white;
}

.login-form input.button:hover{
    cursor: pointer;
}
</style>

<div class="home-container">
    <h1>Troca de senha</h1>
    <form id="trocaSenha" class="login-form" action="/api/user/" method="POST">
        <input class="field" name="name" type="text" disabled value={{user}}>
        <input class="field" name="email" type="email" disabled value={{email}}>
        <input class="field" name="password" placeholder="Digite a sua senha" type="password" required>
        <input class="field" name="confirmation" placeholder="Confirme a sua senha" type="password" required>
        <input class="button" type="submit" value="Trocar senha">
    </form>
</div>
<script>
    const trocaSenha = $("#trocaSenha")
    const userId = decodeURIComponent("{{{userId}}}")
    
    trocaSenha.on("submit", (e) => {
        e.preventDefault()
        const password = e.target.password.value
        const confirmation = e.target.confirmation.value


        if (password && confirmation) {
            if (password === confirmation) {
                if (/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,16}$/.test(password)) {
                    $.ajax({
                        url: `/api/user/${userId}`,
                        method: "put",
                        data: {
                            password,
                            confirmation,
                            userId
                        }
                    }).then(result => {
                        console.log(result)
                        if (result.status === "Success") {
                            window.location = result.redirect
                        }
                    }).catch(err => { console.log(err) })
                }
                else {
                    alert("Regras para senha: minimo de 8 caracteres e maximo de 16. Deve conter pelo menos 1 numero, letra (maiuscula e minuscula) e simbolo")
                }
            }
            else {
                alert("As senhas devem ser iguais")
            }
        }
        else {
            alert("Preencha os campos!")
        }
    })
</script>