<div class="home-container">
    {{#if isLogged}}
        <h1>Usuário logado</h1>
        <p>Username: {{user}}</p>
        <p>Email: {{email}}</p>
    {{else}}
        <h1>Cadastre-se ou efetue o login</h1>
    {{/if}}
</div>