<div class="home-container">
    <h1>Cadastro</h1>

    <form id="cadastro" class="login-form">
        <p id="msg" class="hidden"> </p>
        <input class="field" name="name" type="text" placeholder="Nome de usuario" required>
        <input class="field" name="email" type="email" placeholder="Digite seu email" required>
        <input class="button" type="submit" value="Cadastro">
    </form>

</div>

<script>
    const login = $("#cadastro")
    const msg = $("#msg")

    login.on("submit", function (e) {
        e.preventDefault()
        const { name, email } = e.target
        if (name.value && email.value) {
            $.post({
                url: "/api/user",
                data: {
                    email: email.value,
                    name: name.value
                },
                success(data) {
                    if (data.status === "Success") {
                        window.location = data.redirect
                    }
                    else {
                        msg.text(data.status)
                        email.value = ""
                        name.value = ""
                        msg.toggleClass("hidden").toggleClass("fail")
                        setTimeout(function () {
                            msg.toggleClass("hidden").toggleClass("fail")
                        }, 2000)
                    }
                }
            }).catch(err => { console.log(err) })
        } else {
            msg.toggleClass("hidden").toggleClass("fail")
            msg.text("Preencha os campos!")
            email.value = ""
            name.value = ""
            setTimeout(function () {
                msg.toggleClass("hidden").toggleClass("fail")
            }, 2000)
        }
    })
</script>